Flask==2.3.2
Flask_Dropzone==1.6.0
Flask_Login==0.6.2
flask_session==0.5.0
Flask_WTF==1.1.1
nltk==3.8.1
numpy
openai==0.27.8
pandas==2.0.3
pdfminer.six==20221105
python-dotenv==1.0.0
python_docx==0.8.11
python_pptx==0.6.21
Werkzeug==2.3.6
WTForms==3.0.1
