
<!doctype html>
<html lang="en">
    <head>
      {% if title %}
      <title>{{ title }} - All Day TA</title>
      {% else %}
      <title>Welcome to All Day TA</title>
      {% endif %}
      <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
      <link rel="manifest" href="/static/site.webmanifest">
      <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#d5985b">
      <link rel="shortcut icon" href="/static/favicon.ico">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-config" content="/static/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <meta name="description" content="All-Day-TA - Virtual Teaching Assistant">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="csrf-token" content="{{ csrf_token() }}">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin&display=swap">
      <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      {% if current_user.is_authenticated %}
        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 4em; background-color: var(--bkg-color)') }}
        {{ dropzone.load_js() }}
        {{ dropzone.config(id='myDropzone', custom_init='this.on("queuecomplete", function() {location.reload();});', custom_options='acceptedFiles: ".txt,.pdf,.png,.jpg,.jpeg,.gif,.doc,.docx,.ppt,.pptx",') }}
       
      {% endif %}
      <!-- Open Graph Meta Tags -->
      <meta property="og:title" content="All-Day-TA - Virtual Teaching Assistant">
      <meta property="og:description" content="All-Day-TA - Virtual Teaching Assistant">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://alldayta.xyz">
      <meta property="og:image" content="https://alldayta.xyz/static/og-image.png">
      <meta property="og:site_name" content="alldayta.xyz">

      <!-- PLACEHOLDER: Future Implementation of Matomo Page Analytics Code -->
      
<style>
  .tooltip {
    position: absolute;
    border: 1px solid var(--text-color);
    background-color: var(--button-bg-color);
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
}


</style>
    

<script>
  function setTheme(theme) {
      const root = document.documentElement;
      const body = document.body;
      if (theme === 'dark') {
          body.classList.add('dark-mode');
          root.style.setProperty('--bg-color', '#10141d');
          root.style.setProperty('--text-color', '#edf1fb');
          root.style.setProperty('--input-bg-color', '#444');
          root.style.setProperty('--input-text-color', '#edf1fb');
          root.style.setProperty('--button-bg-color', '#444');
          root.style.setProperty('--button-text-color', '#edf1fb');
      } else {
          body.classList.remove('dark-mode');
          root.style.setProperty('--bg-color', '#f2f3f7');
          root.style.setProperty('--text-color', '#10141d');
          root.style.setProperty('--input-bg-color', '#f2f3f7');
          root.style.setProperty('--input-text-color', '#10141d');
          root.style.setProperty('--button-bg-color', '#f2f3f7');
          root.style.setProperty('--button-text-color', '#10141d');
      }
      localStorage.setItem('theme', theme);
  }
  
  document.addEventListener('DOMContentLoaded', () => {
      applyTheme();
  
      const toggleSwitch = document.getElementById('toggle-theme');
      const savedTheme = localStorage.getItem('theme') || 'light';
      toggleSwitch.checked = savedTheme === 'dark';
  
      toggleSwitch.addEventListener('change', () => {
          const newTheme = toggleSwitch.checked ? 'dark' : 'light';
          setTheme(newTheme);
      });
  });
  
  function applyTheme() {
      const savedTheme = localStorage.getItem('theme') || 'dark';
      setTheme(savedTheme);
  }
</script>


{% if current_user.is_authenticated %}
    

<script>


function toggleActivation(fileName, courseName) {
    let csrfToken = $('meta[name="csrf-token"]').attr('content');
    
    console.log(`Attempting to toggle activation for course: ${courseName}, file: ${fileName}`);
    
    let encodedCourseName = encodeURIComponent(courseName);
    let encodedFileName = encodeURIComponent(fileName);
    let link = $("#activation-" + fileName);

    console.log(`Encoding completed ${encodedCourseName}, file: ${encodedFileName}`);

    $.ajax({
        url: "/toggle_activation/" + encodedCourseName + "/" + encodedFileName,
        type: 'POST',
        headers: {
            "X-CSRFToken": csrfToken
        },
        success: function(data) {
            if (data.success) {
                if (data.status) {
                    console.log(`Received data.status: ${data.status}`);  
                    console.log(`Successfully toggled activation for file: ${fileName}. New status: ${data.status}`);
                    link.text(data.status ? "Activate" : "Deactivate");  
                } else {
                    console.error(`Failed to toggle activation for file: ${fileName}. Error: ${data.error}`);
                }
            } else {
                console.error("Error while toggling activation: " + data.error);
            }
        },
        error: function(xhr, status, error) {
            console.error(`AJAX request failed with status: ${status}, error: ${error}`);
        }
    });
}

function showPreview(courseName, contentName, event) {
    // Get the CSRF token from the meta tag
    let csrfToken = $('meta[name="csrf-token"]').attr('content');
    
    // Encode the courseName
    let encodedCourseName = encodeURIComponent(courseName);
    
    // Remove the current file extension from contentName and append .csv
    let fileNameWithoutExtension = contentName.replace(/\.[^/.]+$/, "");
    let newContentName = fileNameWithoutExtension + "-originaltext.csv";
    
    // Encode the new contentName with .csv extension
    let encodedContentName = encodeURIComponent(newContentName);
    
    console.log(`Requesting preview for course: ${courseName}, content: ${newContentName}`);
    
    // AJAX Request to get the course preview
    $.ajax({
        url: `/preview-chunks-js/${encodedCourseName}/${encodedContentName}`,
        type: 'GET',
        headers: {
            "X-CSRFToken": csrfToken
        },
        success: function(data) {
            // Create tooltip HTML
            let tooltipHtml = `<div class="tooltip">${data.preview_content}</div>`;
            // Append tooltip HTML to the body
            $('body').append(tooltipHtml);
            // Set tooltip position based on the mouse event
            $('.tooltip').css({
                top: event.pageY + 10 + 'px',
                left: event.pageX + 10 + 'px'
            });
        },
        error: function(xhr, status, error) {
            console.error(`AJAX request failed with status: ${status}, error: ${error}`);
        }
    });
}

function hidePreview() {
    // Remove tooltip HTML from the body
    $('.tooltip').remove();
}



    </script>
{% endif %}

    </head>
    <body> 
      <div class="container">
          <div class="item">
            <nav class="navbar">
              <ul>
                
                {% if showAllCoursesAvailable %}
                <li class="nav-links"> <a href="{{ url_for('pick_course', type='chat') }}" alt="AllDayTA - Chat" aria-label="AllDayTA - Chat">Chat</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-links"><a href="{{ url_for('course_management') }}">All Courses</a></li> 
                <li class="nav-links"><a href="{{ url_for('logout') }}">Logout</a></li>
                <li class="nav-links" style="color:#ccc;"> <a href="{{ url_for('settings') }}">Settings</a></li> 
                {% else %}
                <li class="nav-links"> <a href="{{ url_for('adminlogin') }}"> AllDayTA</a></li>
                {% endif %}
            </ul>
            </nav>

          </div>  
        <div class="item">
          {% block content %}
          
          {% endblock %}
        </div>
        <div class="item-footer">

          <ul>
            <li class="nav-links"> 
              <!-- PLACEHOLDER: FOOTER -->
            </li> 
          </ul>
        </div>  
      </div>         
    </body>
</html>