{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">Course Content: {{ course_name }}</h1><br>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                </div>
                {% endif %}
        {% endwith %}
        < <a href="{{ url_for('course_management') }}">Back to Course Management</a>
        <br>
        <br>

        <h2 class="center-align"> Step 1: Manage Course Syllabus</h2>
        <br>

        {% if syllabus %}

        <b>Course Syllabus: [Preview of 250 Characters]:</b>
        <br><br>
        {{ syllabus[:200].replace('<br>', '')|safe }}
        <br><br>
        <p><a href="{{ url_for('course_syllabus', course_name=course_name) }}" target="_blank">Full Course Syllabus Preview</a></p>
        <br>
        {% else %}
        <br>
        <p>No Syllabus found.</p>
        <br>
        {% endif %}
        

        <form method="POST" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.csrf_token }}
                {{ form.pdf.label }} 
                {{ form.submit(id='submit_button') }}
                {{ form.pdf(class_='form-control',placeholder='Upload PDF...') }}  
                {% for error in form.pdf.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
                {% endfor %} 
                
             </p>
            <br>
            <div class="alert alert-warning" role="alert"> Warning: Uploading the Course Syllabus will overwrite the existing Course Syllabus without any prompt.</div>
            <div id="processing" class="processing"></div>

    
        </form>

        <br>
        <br>        
        <h2 class="center-align"> Step 2: Manage Course Content</h2>
        <form action="{{ url_for('upload_file') }}" method="POST" class="dropzone" id="my-dropzone">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="course_name" value="{{ course_name }}">
        </form>

        <br>
        <br>

        {% if contents %}
        <table>
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Rename</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                <tr>
                    <td>{{ content }}</td>
                    <td>
                        <form action="{{ url_for('rename_item') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="old_name" value="{{ content }}">
                            <input type="hidden" name="course_name" value="{{ course_name }}">
                            <input type="text" name="new_name" placeholder="New name">
                            <input type="submit" value="Rename">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_item') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="name" value="{{ content }}">
                            <input type="hidden" name="course_name" value="{{ course_name }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No content found.</p>
        {% endif %}

        {% include 'user_status.html' %}       

        



{% endblock %}