{% extends "base.html" %}
{% block content %}
    <h1 class="center-align">All Courses</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <br>
    {% if courses %}
    
    <table style="text-align: center;">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Modify</th>
                <th>Delete</th>
                <th>Test TA</th>
                <th>Rename</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course }}</td>
                <td>
                    <a href="{{ url_for('course_contents', course_name=course) }}">
                        {% include 'svg_modify.html' %}
                    </a>
                </td>                  
                <td>
                    <a href="{{ url_for('delete_item', name=course) }}">
                        {% include 'svg_delete.html' %}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('teaching_assistant', course_name=course, folder=folder) }}">
                        {% include 'svg_chat.html' %}
                    </a>
                </td>                    
                <td>
                    <details>
                        <summary>
                            {% include 'svg_rename.html' %}
                        </summary>
                        <form action="{{ url_for('rename_item') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="old_name" value="{{ course }}">
                            <input type="text" name="new_name" placeholder="New name">
                            <input type="submit" value="Rename">
                        </form>
                    </details>
                </td>                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="alert alert-warning" role="alert"> Warning: Deleting the Course will delete all the Contents, Syllabus, Transcription, Processed Data, etc. </div>
    <br>
    {% else %}
    <p>No courses found.</p>
    {% endif %}
    <details>
        <Summary class="course-content-heading">Create a New Course</Summary>
        <div style="text-align: center;">
            <form action="{{ url_for('create_course') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <table style="margin: auto; border:0px;">
                    <tr>
                        <td style="text-align: left;border: 0px"><label for="name">Course / Class Name:</label></td>
                        <td style="text-align: left;border: 0px"><input type="text" id="name" name="name" size="35" placeholder="Year-CourseCode-CourseTitle"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 0px"><label for="professor">Professor:</label></td>
                        <td style="text-align: left;border: 0px"><input type="text" id="professor" name="professor" size="35"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 0px"><label for="assistant_name">Assistant Name:</label></td>
                        <td style="text-align: left;border: 0px"><input type="text" id="assistant_name" name="assistant_name" size="35"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 0px"><label for="assistants">Virtual Assistant's Name:</label></td>
                        <td style="text-align: left;border: 0px"><input type="text" id="assistants" name="assistants" value="Virtual Teaching Assistant" placeholder="Virtual Teaching Assistant" size="35"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border: 0px"><label for="classdescription">Class Description:</label></td>
                        <td style="text-align: left;border: 0px"><textarea id="classdescription" name="classdescription" rows="3" cols="28"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;border: 0px">
                            <input type="submit" value="Create" class="form-control">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </details>
    
    {% include 'user_status.html' %}       

{% endblock %}
