{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">All Courses</h1>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                </div>
                {% endif %}
        {% endwith %}
<br>
        {% if courses %}
        
        <table style="text-align: center;">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Modify</th>
                    <th>Delete</th>
                    <th>Rename</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course }}</td>
                    <td>
                        <a href="{{ url_for('course_contents', course_name=course) }}"><svg style="fill: var(--text-color);" width="18px" height="18px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"/></svg></a>
                    </td>                  
                    <td>
                        <a href="{{ url_for('delete_item', name=course) }}"><svg style="fill: var(--text-color);" width="18px" height="18px"viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" style="fill: var(--text-color);">
                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                        <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z" id="delete-[#1487]">
                        
                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg></a>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('rename_item') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="old_name" value="{{ course }}">
                            <input type="text" name="new_name" placeholder="New name">
                            <input type="submit" value="Rename">
                        </form>
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="alert alert-warning" role="alert"> Warning: Deleting the Course will delete all the Contents, Syllabus, Transcription, Processed Data, etc. </div>
        <br>
        {% else %}
        <p>No courses found.</p>
        {% endif %}
        <h2>Create a New Course</h2>
        <form action="{{ url_for('create_course') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="name">Course Name:</label> 
            <input type="text" id="name" name="name" size="35" placeholder="Year-CourseCode-CourseTitle"> 
            <input type="submit" value="Create" class="form-control">
        </form>
        {% include 'user_status.html' %}       





{% endblock %}