{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">Course Content: {{ course_name }}</h1><br>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                </div>
                {% endif %}
        {% endwith %}
        < <a href="{{ url_for('course_management') }}">Back to Course Management</a>
        <br>
        <br>

        <h2 class="center-align"> Step 1: Manage Course Syllabus</h2>
        <br>

        {% if syllabus %}

        <b>Course Syllabus: [Preview of 250 Characters]:</b>
        <br><br>
        {{ syllabus[:200].replace('<br>', '')|safe }}
        <br><br>
        <p><a href="{{ url_for('course_syllabus', course_name=course_name) }}" target="_blank">Full Course Syllabus Preview</a></p>
        <br>
        {% else %}
        <br>
        <p>No Syllabus found.</p>
        <br>
        {% endif %}
        

        <form method="POST" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.csrf_token }}
                {{ form.pdf.label }} 
                {{ form.submit(id='submit_button') }}
                {{ form.pdf(class_='form-control',placeholder='Upload PDF...') }}  
                {% for error in form.pdf.errors %} 
                <span style="color: red;">[{{ error }}]</span> 
                {% endfor %} 
                
             </p>
            <br>
            <div class="alert alert-warning" role="alert"> Warning: Uploading the Course Syllabus will overwrite the existing Course Syllabus without any prompt.</div>
            <div id="processing" class="processing"></div>

    
        </form>

        <br>
        <br>        
        <h2 class="center-align"> Step 2: Manage Course Content</h2>
        <form action="{{ url_for('upload_file') }}" method="POST" class="dropzone" id="my-dropzone">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="course_name" value="{{ course_name }}">
        </form>

        <br>
        <br>

        {% if contents %}
        <table style="text-align: center;">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Delete</th>
                    <th>Rename</th>

                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                <tr>
                    <td>{{ content }}</td>
                    <td>
                        <a href="{{ url_for('delete_item', name=course, course_name=course_name) }}"><svg style="fill: var(--text-color);" width="18px" height="18px"viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" style="fill: var(--text-color);">
                                    <g id="icons" transform="translate(56.000000, 160.000000)">
                                        <path d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z" id="delete-[#1487]">
                        
                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg></a>                        
                    </td>
                    <td>
                        <form action="{{ url_for('rename_item') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="old_name" value="{{ content }}">
                            <input type="hidden" name="course_name" value="{{ course_name }}">
                            <input type="text" name="new_name" placeholder="New name">
                            <input type="submit" value="Rename">
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No content found.</p>
        {% endif %}

        {% include 'user_status.html' %}       

        



{% endblock %}