{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">All Day TA</h1>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                </div>
                {% endif %}
        {% endwith %}



                {% if showAllCoursesAvailable %}
                <h3 class="center-align">
                <ul>
                        <li>
                                <a href="{{ url_for('pick_course', type='chat') }}" alt="AllDayTA - Chat" aria-label="AllDayTA - Chat">Ask Teaching Assistant</a>
                        </li>
                        |
                        <li>
                                <a href="{{ url_for('pick_course', type='practice') }}" alt="AllDayTA - Practice Questions" aria-label="AllDayTA - Practice Questions">Practice Questions</a>
                        </li>                        
                        </ul>
                </ul>
                </h3>    
                {% else %}
                <br>
                Please Use The Provided "Course URL" to Access the Virtual Teaching Assistant
                {% endif %} 
        
        {% include 'user_status.html' %}   
       

{% endblock %}