{% extends "base.html" %}
{% block content %}
        <h1>Application Logs</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <br>
        <form method="get" action="/logs">
            <label for="load_previous">Load logs from the past files: </label>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <select id="load_previous" name="previous">
                <option value="1" {% if previous == '1' %}selected{% endif %}>1 </option>
                <option value="2" {% if previous == '2' %}selected{% endif %}>2 </option>
                <option value="3" {% if previous == '3' %}selected{% endif %}>3 </option>
                <option value="7" {% if previous == '7' %}selected{% endif %}>7 </option>
                <!-- You can add more options as required -->
            </select>
            <input type="submit" value="Load Logs">
        </form>
        <br>
        <table border="0">
                <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Log Level</th>
                            <th>Message</th>
                            <th>File Path</th>
                            <th>Request URL</th>
                            <th>Method</th>
                            <th>User Name</th>
                            <th>Folder</th>
                            <th>Course Name</th>
                            <th>User Agent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr>
                            <td>{{ log.timestamp[0] }}</td>
                            <td>{{ log.level[0] }}</td>
                            {% if '{' in log.message and '}' in log.message %}
                            {% set json_start = log.message.find("{") %}
                            {% set json_end = log.message.rfind("}") + 1 %}
                            {% set json_content = log.message[json_start:json_end]|break_lines %}
                        
                            <td>
                                {{ log.message[:json_start]|replace("\\\"", "\"")|replace("\\n", "<br>")|safe }}
                                <pre>{{ json_content|replace("\\\"", "\"")|replace("\\n", "<br>")|safe }}</pre>
                                {{ log.message[json_end:]|replace("\\\"", "\"")|replace("\\n", "<br>")|safe }}
                            </td>
                        {% else %}
                            <td>{{ log.message|replace("\\\"", "\"")|replace("\\n", "<br>")|safe }}</td>
                        {% endif %}


                            <td>...{{ log.file_path[0][-21:] }}</td>
                            <td>{{ log.request_url|strip_domain }}</td>
                            <td>{{ log.request_method }}</td>
                            <td>{{ log.name }}</td>
                            <td>{{ log.folder }}</td>
                            <td>{{ log.course_name }}</td>
                            <td>{{ log.user_agent[0] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- You can add more content or scripts here -->
        <br>
{% endblock %}