{% extends "base.html" %}
{% block content %}
        <h1>Application Logs</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <br>
        <table border="0">
                <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Log Level</th>
                            <th>Message</th>
                            <th>File Path</th>
                            <th>Request URL</th>
                            <th>Method</th>
                            <th>User Name</th>
                            <th>Folder</th>
                            <th>Course Name</th>
                            <th>User Agent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr>
                            <td>{{ log.timestamp[0] }}</td>
                            <td>{{ log.level[0] }}</td>
                            {% if '{' in log.message and '}' in log.message  %}
                                <td><pre>{{ log.message|replace("\\\"", "\"")|replace("\\n", "<br>")|safe }}</pre></td>
                            {% else %}
                                <td>{{ log.message|replace("\\\"", "\"")|replace("\\n", "<br>")|safe }}</td>
                            {% endif %}
                            <td>...{{ log.file_path[0][-21:] }}</td>
                            <td>{{ log.request_url|strip_domain }}</td>
                            <td>{{ log.request_method }}</td>
                            <td>{{ log.name }}</td>
                            <td>{{ log.folder }}</td>
                            <td>{{ log.course_name }}</td>
                            <td>{{ log.user_agent[0] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- You can add more content or scripts here -->
        <br>
{% endblock %}