{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">Pick a Course to {{type}} with the Virtual Teaching Assistant</h1><br>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                </div>
                {% endif %}
        {% endwith %}
        {% if courses %}
        <h2>Pick a Course to start chatting</h2>
        <ul>
                {% for course in courses %}
                        {% if type=='chat' %}
                        <li><a href="{{ url_for('teaching_assistant', course_name=course) }}" target="_blank">{{ course }}</a></li>
                        {% elif type=='practice' %} 
                        <li><a href="{{ url_for('teaching_assistant', course_name=course) }}" target="_blank">{{ course }}</a></li>
                        {% else %}
                        Something went wrong. 
                        {% endif %}
                {% endfor %}
        </ul>
        {% else %}
        <p>No Syllabus found.</p>
        {% endif %}
        {% include 'user_status.html' %}       
{% endblock %}