{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">Course Content: {{ course_name }}</h1><br>
        <h2 class="center-align">Preview CSV Chunks</h2>
        <a href="{{ url_for('courses') }}">Back to Courses</a><br>
        <a href="{{ url_for('course_contents',course_name=course_name) }}">Back to Course Content: {{ course_name }}</a>
        <br>
        <br>
        {% if csv_files and second_entries %}
            <table style="text-align: center;">
                <thead>
                    <tr>
                        <th>CSV fill-rule</th>
                        <th>First CSV Entry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for csv_file, second_entry in zip(csv_files, second_entries) %}
                    <tr>
                        <td>{{ csv_file }}</td>
                        <td>{{ second_entry }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No CSV files found.</p>
        {% endif %}
        {% include 'user_status.html' %} 
{% endblock %}
