{% extends "base.html" %}
{% block content %}
        <div class="left-align" style="line-height: 2em;">
        <h1>Privacy Policy for AllDayTA</h1>
        <p> Last updated: 30<sup>th</sup> June 2023</p>
        
        <h3>At AllDayTA, we value your privacy and take data protection seriously. This Privacy Policy outlines how we collect, use, and store your information when you use our services. By using SummarizeMe.io, you agree to the collection and use of information as described in this policy.</h3>
        
        <h2>Compliance with OpenAI's Terms of Use</h2>
        <h3>AllDayTA is built using OpenAI's technologies, and as such, all users must adhere to OpenAI's <a href="https://openai.com/policies/terms-of-use" target="_blank">Terms of Use</a>, which includes the following policies:<br>
        <a href="https://openai.com/policies/service-terms" target="_blank">Service Terms</a><br>
        <a href="https://openai.com/policies/sharing-publication-policy" target="_blank">Sharing & Publication Policy</a><br>
        <a href="https://openai.com/policies/usage-policies" target="_blank">Usage Policies:</a><br>
            Please familiarize yourself with these policies before using our Service.</h3>
        <h2>Information Collection and Use</h2>
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name and email address ("Personal Information").
            <br>
            When you submit text, questions, or chat for summarization, this data will be accessible to the site owners. It is important that you <b>do not submit any confidential, sensitive, or personal information for summarization</b>, as this information may be viewed by the site owners.</p>
    
        <h2>Log Data</h2>
            <p>We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>
        <h2>Security</h2>
            <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
        <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
        <h2>Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us at <a hreaf="mailto:support@alldayta.xyz">support@alldayta.xyz</a>.
                <br>
                <b>Remember, when using AllDayTA, please do not submit any confidential or sensitive information for summarization, as it may be accessible by the site owners. Additionally, ensure that you comply with OpenAI's Terms of Use and associated policies</b></p>
            </div>
{% endblock %}