{% extends "base.html" %}
{% block content %}
        <h1 class="center-align">Virtual Teaching Assistant For: <br>{{ course_name }}</h1><br>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flashes">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                </div>
                {% endif %}
        {% endwith %}
        {% if course_name %}
        <h2 ></h2>
        <br><br>
        <p><b>Instructions: </b><br>{{ instruct|safe }}	 </p>
        <br>
        <div class="main-container">
            <div class="responses">
                <i>Responses will be displayed here:</i><br>
                <div class="text-2" id="previous-response">   </div>
                <p></p><p>&nbsp;</p>
                <div class="text-1" id="response">  </div>
                <span id="processing-message" style="display: none; margin-bottom: 10px; font-size: 16pt; font-weight: bold; font-style: normal;"></span>
            </div>

                <div class="container-chat">
                    <form id="my-form-1" method="post" data-target="response" style="width: 100%;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <textarea id="input-box" class="input-box" name="content1" placeholder="Type query here." rows="5" style="font-size: 1.5em; border: none; outline: none; resize: none; background-color: rgb(248, 248, 248);"></textarea>
                    </form>
                </div>

            </div>
            <script>
                $(document).ready(function() {
                    var respondtoquestion="";
                    $('#input-box').keydown(function(event) {
                        if (event.keyCode === 13) { // 13 is the code for "Enter" key
                            event.preventDefault();
                            var target = $('#my-form-1').data('target');
                            var inputText = $('#input-box').val().trim();
                            var formData = '';
                            var csrf_token = $('input[name="csrf_token"]').val();

                            // Get the HTML content of the 'response' div
                            var oldQuestionHTML = $('#response').html().trim();
                            // Replace the <i> tag with the desired text
                            oldQuestionHTML = oldQuestionHTML.replace('<i>', '');
                            oldQuestionHTML = oldQuestionHTML.replace('</p><p>', '');
                            oldQuestionHTML = oldQuestionHTML.replace('<span style="display:none">', ' The TRUE answer follows: ');
                            oldQuestionHTML = oldQuestionHTML.replace('</span>', '');
                            // Replace the </i><br> tag with the desired text
                            oldQuestionHTML = oldQuestionHTML.replace('</i><br>', '');
                            if (oldQuestionHTML.indexOf('<span') > -1) {
                                    // Remove content after the <span> tag
                                    oldQuestionHTML = oldQuestionHTML.split('<span style="float')[0];
                            }
                            document.getElementById('hiddenContent2').value = oldQuestionHTML;
        
                                if (respondtoquestion=="y") {
                                    var query = $('#input-box').val();
                                    respondtoquestion="";
                                    var combinedText = "a: " + "The original question was " + oldQuestionHTML + ' My response to this question is: ' + query + ". Am I correct?  If not, explain why."
                                    formData = $.param({ content1: combinedText, content2: oldQuestionHTML });
                                    var csrf_token = $('input[name="csrf_token"]').val();

                                } else {
                                    formData = $('#my-form-1').serialize();
                                    var query = $('#input-box').val();
                                    var csrf_token = $('input[name="csrf_token"]').val();

                                }
                                console.log("FormData: ", formData); // log the FormData sent to Ajax
                                $.ajax({
                                    type: 'POST',
                                    url: window.location.href,
                                    data: formData + '&csrf_token=' + encodeURIComponent(csrf_token),
                                    beforeSend: function() {
                                               $('#processing-message').html('Response processing...<p>');
                                        $('#processing-message').show();
                                            },
                                    success: function(response) {
                                        $('#processing-message').hide();
                                        $('#my-form-1')[0].reset(); // reset the form 
                                        var previousResponse = $('#previous-response').html() + '<p>' + $('#response').html();
                                        $('#previous-response').html(previousResponse);
                                        $('#input-box').attr("placeholder", "Type query here.");
                                        if (query.startsWith('c: ')) {
                                            query = 'Compare and contrast the following: ' + query.substring('c: '.length);
                                        }
                                        if (query.startsWith('m: ')) {
                                            query = ''
                                            respondtoquestion="y";
        console.log(respondtoquestion);
                                            $('#input-box').attr("placeholder", "Type your answer here. You may give just the letter answer or also write your reasoning.");
                                        }
                                        var fullresponse = '<i>' + query + '</i><br>' + " " + response;
                                        $('#response').html(fullresponse);
                                    },
                                    error: function() {
                                        $('#processing-message').hide();
                                        $('#' + target).text('An error occurred while processing your request.');
                                    }
                                });
                            }
                        });
                    });
        
        
            function toggle_visibility(id) {
               event.preventDefault();
               var e = document.getElementById(id);
               if(e.style.display == 'none')
                  e.style.display = 'block';
               else
                  e.style.display = 'none';
            }
        
            document.getElementById('input-box').focus();
           
            function updateTextareaRows() {
            const textarea = document.getElementById('input-box');
        
            if (window.innerWidth <= 768) {
                textarea.setAttribute('rows', 6);
            } else {
                textarea.setAttribute('rows', 6);
            }
        }
        
        // Call the function on page load
        updateTextareaRows();
        
        // Call the function on window resize
        window.addEventListener('resize', updateTextareaRows);
        
            </script>


        {% else %}
        <p>
                No Course has been selected <br>
                Pick a <a href="{{ url_for('chat') }}" alt="AllDayTA - Chat" aria-label="AllDayTA - Chat">Course</a>
        </p>
        {% endif %}
        {% include 'user_status.html' %}       
{% endblock %}