<!-- user_status.html -->
<hr>
{% if name: %}
    <p class="center-align">  
        Welcome, {{ name }}
        <a href="{{ url_for('logout') }}"> 
            Signout
        </a>                        
    </p>
{% else:  %}
    <p class="center-align">  
        <a href="{{ url_for('adminlogin') }}"> 
            Login (Faculty)
        </a>
        <details class="center-align">
            <summary>Why do I need to Login?</summary>
            Manage your course as Faculty
        </details>
    </p>  
{% endif %}         

<br>
